[data-theme='light'] {
  .bg-light-primary {
    background-color: var(--my-bg-light-primary) !important;
    color: var(--my-text-primary) !important;

    h2 {
      font-weight: bold;
    }

    .p-card-body {
      border-radius: var(--p-card-border-radius);
    }

    .p-card {
      background-color: inherit !important;
      color: inherit !important;
    }
  }
}
