.p-card-header {
  background-color: var(--surface-color);
  border-bottom: 1px solid var(--primary-color);
  border-top-left-radius: var(--p-card-border-radius);
  border-top-right-radius: var(--p-card-border-radius);
  padding: 1rem;
}
.p-card-footer {
  background-color: var(--surface-color);
  border-top: 1px solid #2e3f50;
}
p-card {
  //background-color: var(--surface-color) !important;
}
