[data-theme='dark'] {
  .bg-light-secondary {
    background-color: var(--my-bg-light-secondary) !important;
    color: var(--my-text-secondary) !important;

    h2 {
      font-weight: bold;
    }

    .p-card-body {
      border-radius: var(--p-card-border-radius);
    }

    .p-card {
      background-color: inherit !important;
      color: inherit !important;
    }
  }
}
