:root[data-theme='dark'] {
  --p-datatable-row-background: #1c2531;
  --p-datatable-header-cell-background: #141a23;
  --p-tabs-tabpanel-background: #141a23;
  --p-paginator-background: #141a23;
  --p-datatable-body-cell-border-color: #2e3f50;
  --p-paginator-border-radius: 0;
}
